html, body {
  font-family: Poppins, sans-serif;
  position: relative!important;
}

.dark-blue {
  color: #344563!important;
}


.nav-link:hover{
  color: #0b1e3f!important;
}

.nav-item .active {
  background: #344563!important;
  color: #fff!important;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 75px!important;
}

.headline_section {
  background-color: #fff;
  background-size: contain;
  background-repeat: space;
  background-repeat: no-repeat;
  background-image: url("./images/header-shapes-mobile.png");
}

.card_img {
  max-width: 100%;
  height: 100%;
}

.about_section {
  border-top-right-radius: 70px;
}

.lan-img {
  width: 40px;
}

.contact_section {
  border-top-left-radius: 70px;
  background-color: #6070ff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom -30px right -16px;
  background-image: url("./images/contact-form.png");
}
